*{  margin: 0; padding: 0;}
ul li{ list-style: none; }
a{ text-decoration: none; }
.clearfix:before,.clearfix:after{ display: block; content: "";}
.clearfix:after{ clear: both;}
.clearfix{zoom: 1;}
header{}
.header-top{ width: 1000px;  margin: 0 auto; font-family: Arial; }
.logo{ width: 260px; float: left;}
nav{ width: 430px; float: right; line-height: 60px; }
nav a{ color:#212121; }
.header-top ul li{ float: left; margin-left: 40px;}
.banner{background: url(../images/banner.jpg) no-repeat center; height: 265px;}
.banner-inner{ width: 1000px; margin: 0 auto;}
.banner-inner p{ color: #fff; font-size: 40px; font-family: Arial; line-height: 265px; text-shadow: 1px 0px 5px #000;}
.animate{-webkit-animation-duration:2s;animation-duration:2s;}
.main{ width: 1000px; margin: 0 auto; margin-top: 40px; font-family: Arial; }
.main ul li{ float: left; margin-right:20px; padding: 10px; background-color: #ccc; }
.main ul li img{ border-radius: 5px; display: block; }
.main ul li p{ color: #212121;}
.main ul li:nth-child(3){ margin-right: 0;  }

footer{ background-color: #032e13; height: 90px; margin-top: 40px; font-family: Arial;}
footer p{ color: #ccc; text-align: center; line-height: 90px; font-size: 14px; }

